@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@font-face {
    font-family: 'Avenir next';
    src: url('AvenirNextLTPro-Regular.otf');
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1C1B1B;
    font-family: 'Avenir next';
    color: white;
}

.svg_icon svg{
    height: 19px;
    color: white;
    padding-right: 14px;
    transition: 0.5s ease-in-out;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:24px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  
}

nav:hover > .svg_icon svg{
    color: #000;
}

nav:hover > .hamburger .bar {
    background-color: #000;
}

nav:hover::after{
    display: block;
}

nav::after{
    content: "";
    display: none;
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 1px;
    background-color:rgba(0, 0, 0, 0.253);
    transition: 0.5s ease-in-out;
}

.banner{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

.banner-1{
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

.banner img{
    object-fit: cover;
    width: 100%;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    display: block;
    background-color: white;
    width: 25px;
    height: 2px;
    margin: 6px;
    transition: 0.5s ease-in-out;
}


@media (max-width:800px) {
    .hamburger{
        display: block;
    }
}

h2{
    font-family: 'Avenir next';
    color: white;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    word-wrap: break-word;
    letter-spacing: .2rem;
    padding: 60px;
    text-transform: uppercase;
}
.cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.cards img {
    object-fit: cover;
    height: 100%;

}

main h3{
    font-family: 'Avenir next';
    text-align: center;
    width: auto;
}

#section-2 .card-item{
    height: 350px;
}

.card-item{
      height: 300px;
      width: 300px;
      margin-bottom:12%;
      line-height: 1.2rem;
      text-align: center;
}


.card-item p{
    font-size: 12px;
    width: 100%;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.card-item span{
   
    font-size: 12px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

@media (max-width:900px) {
    .card-item{
        height:370px;
        width: 50%;
        margin-bottom:25%;
    }

    
    #section-2 .card-item{
        height: 370px;
        width: 50%;
    }

    #section-2 .cards{
        display: flex;
        justify-content: space-between;
    }




}



@media (max-width:780px) {

    #section-2 .card-item{
        height: 300px;
        width: 50%;
    }

    .card-item{
        height:300px;
        width: 50%;
        margin-bottom:25%;
    }

    footer .flex-icon{
        width: 100%;
    }

    footer .newsletter button{
        width: 35%;
    }

    footer .foot-bottom{
        flex-direction: column;
        align-items: center;
    }

    footer .foot-bottom ul{
        padding-top:50px;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        border-top: 1px solid gray;
    }
    
    
    footer .foot-bottom span{
        padding-bottom: 50px;
    }
   
}

@media (max-width:500px) {
    .card-item{
        height:200px;
        width: 50%;
        margin-bottom:40%;
    }

    .card-item{
        margin-bottom: 23%;
    }

    #section-2 .card-item{
        height: 200px;
    }
    
}

.card-1{
    border-bottom: 1px solid white;
}
section{
    border-top: 0.5px solid gray;
}

#section-2{
    border-bottom: 0.5px solid gray;
}

footer{
    display: flex;
    height: 120vh;
    font-family: 'Nunito Sans';
    justify-content: space-between;
    padding: 5%;
    
    flex-wrap: wrap;
    font-size: 14px;
   
}

.flex-icon{
    padding-top: 55px;
    width: 20%;
    transition: 0.5 ease-in;
}

.icon-reseau{
    display: flex;
    flex-direction: column;
}

.icon-reseau i{
    cursor: pointer;
    color: grey;
    font-size: 15px;
}

.icon-reseau i:hover{
    color: #fff;
 
}

#title{
    font-family: 'Avenir next';
    font-size: 12px;
    letter-spacing: 0.1rem;
}

.flex-icon ul li{
    list-style-type: none;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.521);
    font-weight: 100;
}

.flex-icon ul li:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.5 ease-in;
}

#text-input, select{
    width: 100%;
    height:38px;
    border: 1px solid gray;
    margin: 0.2px;
    background-color:inherit;
    padding: 10px;
    color: rgba(255, 255, 255, 0.521);
    font-family: 'Nunito Sans';
}

select{
    background-color:#1C1B1B;
    cursor: pointer;
}

#logo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.icon-reseau i{
    margin-right: 32px;
    margin-top: 32px;
    transition: 0.5 ease-in;
}

.newsletter button{
    padding: 15px;
    width: 55%;
    background-color: #8D1713;
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s linear;
}

.newsletter button:hover{
    background-color: inherit;
    border: 1px solid #8D1713;
    color: #8D1713;
}

.foot-bottom{
    display: flex;
    width: 100%;
    padding-top: 100Px;
    justify-content: space-between;
}

.foot-bottom ul li{
    display: inline-flex;
    margin-right: 10px;
}

.foot-bottom span{
    font-size: 11px;
    color: gray;
    letter-spacing: .2rem;
}